.swiper {
    width: inherit;
    height: 40vh;
    box-shadow: 0 2px 5px 0 #00000085;
    border-radius: 0 0 8px 8px ;

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
