form {
    width: 70%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 650px) {
        width: 100%;
    }

    fieldset {
        width: 100%;
        border: 0;
        display: flex;
        align-items: center;

        @media screen and (max-width: 650px) {
            flex-direction: column;
            margin: 0;
            padding: 0;

            &:not(:first-child) {
                margin-top: 2rem;
            }
        }

        label {
            width: 30%;

            @media screen and (max-width: 650px) {
                width: 90%;
                text-align: center;
            }
        }

        select {
            width: 70%;
            padding: 1rem;
            border-radius: 8px;
            border: 1px solid #1f2357;

            @media screen and (max-width: 650px) {
                width: 90%;
                margin-top: 1rem;
            }

            option { line-height: 2rem; }
        }

        input[type=datetime-local],input[type=date] {
            width: 69%;
            padding: 1rem;
            border-radius: 8px;
            border: 1px solid #1f2357;
        }
    }

}
