<div class="full-width-container">
    <div class="swiper auto-play">
        <div class="swiper-wrapper">
            {{#times 5}}
                <div class="swiper-slide">
                    <img src="/images/slider-heading/1500/{{this}}-1500.webp"
                         srcset="/images/slider-heading/3000/{{this}}-3000.webp 3000w,
                                 /images/slider-heading/1500/{{this}}-1500.webp 1500w,
                                 /images/slider-heading/800/{{this}}-800.webp 800w"
                         sizes="100vw"
                         alt="">
                </div>
            {{/times}}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="container">
</div>
