<script src="/scripts/specifc/views/reservations/reservations.bundle.js" defer></script>
<link rel="stylesheet" href="/scripts/specifc/views/reservations/reservations.bundle.css">

<div class="container">
    <hgroup class="centered">
        <h1>{{i18n "view-booking-title"}}</h1>
        <p>{{i18n "view-booking-kicker"}}</p>
    </hgroup>
    <hr />

    <div class="flex-container vertical centered-item">
        <form id="reservation-form">
        </form>
    </div>
</div>
