<script src="/scripts/specifc/views/reservations/reservations.bundle.js" defer></script>
<link rel="stylesheet" href="/scripts/specifc/views/reservations/reservations.bundle.css">

<div class="container">
    <hgroup class="centered">
        <h1>Reservation</h1>
        <p>Si vous souhaitez réserver une activité, utilisez le formulaire ci-dessous afin de valider votre choix</p>
    </hgroup>
    <hr />

    <div class="flex-container vertical centered-item">
        <form id="reservation-form">
        </form>
    </div>
</div>
