<footer>
    <div class="footer-item">
        <h2>{{i18n "footer-partners-title"}}</h2>
        <ul>
            <li><a href="https://www.adec.corsica/"><img src="/images/partners/adec.webp"><p>https://www.adec.corsica</p></a></li>
            <li><a href="https://www.isula.corsica/"><img src="/images/partners/ctc.webp"><p>https://www.isula.corsica/</p></a></li>
            <li><a href="https://www.efvoile.fr/"><img src="/images/partners/efv.webp"><p>https://www.efvoile.fr/</p></a></li>
            <li><a href="https://www.ffck.org/"><img src="/images/partners/ffck.webp"><p>https://www.ffck.org/</p></a></li>
            <li><a href="https://www.e.leclerc/"><img src="/images/partners/leclerc.webp"><p>https://www.e.leclerc/</p></a></li>
            <li><a href="https://iflyer.corsica/ligue-corse-de-voile.fr.html"><img src="/images/partners/ligue-corse-voile.webp"><p>https://iflyer.corsica/ligue-corse-de-voile.fr.html</p></a></li>
            <li><a href="https://mairie-ilerousse.fr/"><img src="/images/partners/mairie-ile-rousse.webp"><p>https://mairie-ilerousse.fr/</p></a></li>
        </ul>
    </div>
</footer>
