<ul class="desktop">
    <li><a href="/nos-activites">{{i18n "header-menu-entry-activities"}}</a></li>
    <li><a href="/reservations">{{i18n "header-menu-entry-reservations"}}</a></li>
    <li><a href="/notre-equipe">{{i18n "header-menu-entry-team"}}</a></li>
    <li><a href="/contact">{{i18n "header-menu-entry-contact"}}</a></li>
</ul>
