@import "variables";

@import "reset";

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 { text-align: center; }

    nav {
        width: 100%;
        background-color: $light-gray;
        border: 1px solid #0000001a;
        box-shadow: 0px -3px 5px 0px #00000005;

        > ul {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            column-gap: 2rem;
        }
    }
}

footer {
    width: 100%;
    background-color: $light-gray;
    border: 1px solid #0000001a;
    box-shadow: 0px -3px 5px 0px #00000005;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10rem;

    h2 { text-align: center; }
    ul {
        display: flex;
        align-items: center;
        column-gap: 2rem;
    }
}

div.main-content-wrapper {
    height: inherit;

    div.main-content {
        height: auto;

        div.full-width-container { width: 100%; }
        div.container {
            width: 95%;

            @media screen and (min-width: 951px) {
                width: 75%;
            }

            margin: auto;
        }

        *.centered { text-align: center; }

        hr {
            width: 80%;
            margin-top: 2rem;
            margin-bottom: 2rem;
            border: 1px solid #0000002e
        }

        .grid-container {
            display: grid;
            grid-template-columns: 100%;
        }
        .grid-container-2 {
            @media screen and (min-width: 951px) {
                grid-template-columns: 50% 50%;
            }
        }
        .grid-container-4 {
            @media screen and (min-width: 951px) {
                grid-template-columns: 25% 25% 25% 25%;
            }
        }

        .editorial-card {
            padding: 1rem;

            h2,h3 {
                background-color: #d0eeff;
                padding: 0.5rem;
                margin-bottom: 0;
            }

            .swiper {
                height: 12rem;
            }

            .list {
                text-align: left;

                li { list-style: circle; }
            }

            img {
                display: block;
                height: 20rem;
                width: 100%;
                object-fit: cover;
            }
        }

        .swiper {
            width: inherit;
            height: 40vh;

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
