@font-face {
  font-family: "Yanone Kaffeesatz Regular";
  src: url("/images/fonts/YanoneKaffeesatz-Regular.ttf") format("ttf"); }

@font-face {
  font-family: "Yanone Kaffeesatz Bold";
  src: url("/images/fonts/YanoneKaffeesatz-Bold.ttf") format("ttf"); }

@font-face {
  font-family: "Yanone Kaffeesatz Light";
  src: url("/images/fonts/YanoneKaffeesatz-Light.ttf") format("ttf"); }

@font-face {
  font-family: "Yanone Kaffeesatz Thin";
  src: url("/images/fonts/YanoneKaffeesatz-ExtraLight.ttf") format("ttf"); }

@font-face {
  font-family: "Yanone Kaffeesatz Regular";
  src: url("/images/fonts/YanoneKaffeesatz-Regular.ttf") format("ttf"); }

@font-face {
  font-family: "Yanone Kaffeesatz Bold";
  src: url("/images/fonts/YanoneKaffeesatz-Bold.ttf") format("ttf"); }

@font-face {
  font-family: "Yanone Kaffeesatz Light";
  src: url("/images/fonts/YanoneKaffeesatz-Light.ttf") format("ttf"); }

@font-face {
  font-family: "Yanone Kaffeesatz Thin";
  src: url("/images/fonts/YanoneKaffeesatz-ExtraLight.ttf") format("ttf"); }

html * {
  font-family: "Yanone Kaffeesatz Light";
  font-size: 1.4rem; }

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #fafafa; }

h1 {
  font-size: 4.4rem;
  letter-spacing: 0.1rem;
  font-family: "Yanone Kaffeesatz Regular"; }

h2 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-family: "Yanone Kaffeesatz Regular"; }

h3 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-family: "Yanone Kaffeesatz Light"; }

h1, h2, h3, h4 {
  color: #4b4b4b; }

li {
  list-style: none; }

p {
  color: #4b4b4b; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  header h1 {
    text-align: center; }
  header nav {
    width: 100%;
    background-color: #1f2357;
    border: 1px solid #0000001a;
    box-shadow: 0px -3px 5px 0px #00000047; }
    header nav > ul {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      column-gap: 2rem; }
      header nav > ul a {
        color: white; }

footer {
  width: 100%;
  background-color: #1f2357;
  border: 1px solid #0000001a;
  box-shadow: 0px -3px 5px 0px #00000014;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10rem; }
  footer h2 {
    text-align: center;
    color: white; }
  footer ul {
    display: flex;
    align-items: center;
    column-gap: 2rem; }

div.main-content-wrapper {
  height: inherit; }
  div.main-content-wrapper div.main-content {
    height: auto; }
    div.main-content-wrapper div.main-content div.full-width-container {
      width: 100%; }
    div.main-content-wrapper div.main-content div.container {
      width: 95%;
      margin: auto; }
      @media screen and (min-width: 951px) {
        div.main-content-wrapper div.main-content div.container {
          width: 75%; } }
    div.main-content-wrapper div.main-content *.centered {
      text-align: center; }
    div.main-content-wrapper div.main-content hr {
      width: 80%;
      margin-top: 2rem;
      margin-bottom: 2rem;
      border: 1px solid #0000002e; }
    div.main-content-wrapper div.main-content .grid-container {
      display: grid;
      grid-template-columns: 100%;
      grid-auto-rows: 1fr; }
    @media screen and (min-width: 951px) {
      div.main-content-wrapper div.main-content .grid-container-2 {
        grid-template-columns: 50% 50%; } }
    @media screen and (min-width: 951px) {
      div.main-content-wrapper div.main-content .grid-container-3 {
        grid-template-columns: 50% 50%; } }
    @media screen and (min-width: 1500px) {
      div.main-content-wrapper div.main-content .grid-container-3 {
        grid-template-columns: 33% 33% 33%; } }
    @media screen and (min-width: 951px) {
      div.main-content-wrapper div.main-content .grid-container-4 {
        grid-template-columns: 25% 25% 25% 25%; } }
    div.main-content-wrapper div.main-content .editorial-card {
      padding: 1rem;
      display: flex;
      flex-direction: column; }
      div.main-content-wrapper div.main-content .editorial-card hgroup {
        background-color: #1f2357;
        border-radius: 8px 8px 0 0;
        padding: 0.5rem; }
        div.main-content-wrapper div.main-content .editorial-card hgroup h2, div.main-content-wrapper div.main-content .editorial-card hgroup h3 {
          margin: 0;
          line-height: 3.5rem;
          color: white; }
        div.main-content-wrapper div.main-content .editorial-card hgroup p {
          color: white;
          margin: 0 0 .3rem; }
      div.main-content-wrapper div.main-content .editorial-card .swiper {
        height: 12rem;
        width: 100%; }
      div.main-content-wrapper div.main-content .editorial-card .list {
        text-align: left;
        margin: 0;
        border: 1px solid #1f2357;
        display: flex;
        flex-direction: column;
        border-radius: 0 0 8px 8px;
        flex: 2;
        padding: 2rem 1rem 0 1rem; }
        div.main-content-wrapper div.main-content .editorial-card .list table {
          text-align: center; }
          div.main-content-wrapper div.main-content .editorial-card .list table tbody {
            background-color: #1f2357;
            color: white; }
            div.main-content-wrapper div.main-content .editorial-card .list table tbody:before {
              content: "@";
              display: block;
              line-height: 10px;
              text-indent: -99999px;
              background-color: white; }
            div.main-content-wrapper div.main-content .editorial-card .list table tbody tr:last-child {
              background-color: #4b4b4b; }
        div.main-content-wrapper div.main-content .editorial-card .list ul {
          flex: 2; }
          div.main-content-wrapper div.main-content .editorial-card .list ul li {
            list-style: circle; }
        div.main-content-wrapper div.main-content .editorial-card .list button {
          width: 30%;
          margin: 2rem auto 2rem auto;
          background-color: #1f2357;
          border: 1px solid grey;
          border-radius: 15px;
          color: white;
          padding: 0.3rem;
          cursor: pointer; }
          div.main-content-wrapper div.main-content .editorial-card .list button:hover {
            background-color: #292b5b; }
      div.main-content-wrapper div.main-content .editorial-card img {
        display: block;
        height: 20rem;
        width: 100%;
        object-fit: cover; }
    div.main-content-wrapper div.main-content .swiper {
      width: inherit;
      height: 40vh;
      box-shadow: 0 2px 5px 0 #00000085; }
      div.main-content-wrapper div.main-content .swiper .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center; }
      div.main-content-wrapper div.main-content .swiper .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; }
