@import "variables";

html * {
    font-family: $text-light;
    font-size: 1.4rem;
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: $light-grey;
}

h1 { font-size: 4.4rem; letter-spacing: 0.1rem; font-family: $text-regular; }
h2 { font-size: 3rem; letter-spacing: 0.1rem; font-family: $text-regular; }
h3 { font-size: 2rem; letter-spacing: 0.1rem; font-family: $text-light; }
h1,h2,h3,h4 { color: $text-color; }

li { list-style: none; }

p { color: $text-color; }

a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
}
