$regular-blue: #1f2357;
$light-grey: #fafafa;
$text-color : #4b4b4b;
$link-hover : $regular-blue;


@font-face {
    font-family: "Yanone Kaffeesatz Regular";
    src: url("/images/fonts/YanoneKaffeesatz-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Yanone Kaffeesatz Bold";
    src: url("/images/fonts/YanoneKaffeesatz-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Yanone Kaffeesatz Light";
    src: url("/images/fonts/YanoneKaffeesatz-Light.ttf") format("ttf");
}

@font-face {
    font-family: "Yanone Kaffeesatz Thin";
    src: url("/images/fonts/YanoneKaffeesatz-ExtraLight.ttf") format("ttf");
}


$text-regular : "Yanone Kaffeesatz Regular";
$text-bold : "Yanone Kaffeesatz Bold";
$text-light : "Yanone Kaffeesatz Light";
$text-thin : "Yanone Kaffeesatz Thin";
