$regular-blue: #2d69b5;
$light-blue: #45abe3;
$yellow: #f5ae00;

$text-color : #ffffff;
$text-hover : $yellow;
$light-gray : #f9f9f9;

@font-face {
    font-family: "Yanone Kaffeesatz Regular";
    src: url("/images/fonts/YanoneKaffeesatz-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Yanone Kaffeesatz Bold";
    src: url("/images/fonts/YanoneKaffeesatz-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Yanone Kaffeesatz Light";
    src: url("/images/fonts/YanoneKaffeesatz-Light.ttf") format("ttf");
}

@font-face {
    font-family: "Yanone Kaffeesatz Thin";
    src: url("/images/fonts/YanoneKaffeesatz-ExtraLight.ttf") format("ttf");
}


$text-regular : "Yanone Kaffeesatz Regular";
$text-bold : "Yanone Kaffeesatz Bold";
$text-light : "Yanone Kaffeesatz Light";
$text-thin : "Yanone Kaffeesatz Thin";
