<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Club Nautique d'Île-Rousse {{pageTitle}}</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js" defer></script>
    <script src="/scripts/main.js" defer></script>
</head>
<body>
    <div class="main-content-wrapper">
        <header>
            <a href="/"><h1>Club Nautique d'Île Rousse</h1></a>
            <nav role="navigation">
                <ul>
                    <li><a href="/news">Les News</a></li>
                    <li><a href="/evements">Evènements</a></li>
                    <li><a href="/nos-autres-activites">Nos Autres Activités</a></li>
                    <li><a href="/notre-equipe">Notre équipe</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <div class="main-content">
            {{{body}}}
        </div>
        <footer>
            <div class="footer-item">
                <h2>Nos Partenaires</h2>
                <ul>
                    <li><a href="https://www.adec.corsica/"><img src="/images/partners/adec.webp"></a></li>
                    <li><a href="https://www.isula.corsica/"><img src="/images/partners/ctc.webp"></a></li>
                    <li><a href="https://www.efvoile.fr/"><img src="/images/partners/efv.webp"></a></li>
                    <li><a href="https://www.ffck.org/"><img src="/images/partners/ffck.webp"></a></li>
                    <li><a href="https://www.e.leclerc/"><img src="/images/partners/leclerc.webp"></a></li>
                    <li><a href="https://iflyer.corsica/ligue-corse-de-voile.fr.html"><img src="/images/partners/ligue-corse-voile.webp"></a></li>
                    <li><a href="https://mairie-ilerousse.fr/"><img src="/images/partners/mairie-ile-rousse.webp"></a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>
