<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="robots" content="noindex">
    <title>Club Nautique d'Île-Rousse {{pageTitle}}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/main.css">

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js" defer></script>
    <script src="/scripts/main.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
</head>
<body>
    <div class="main-content-wrapper">
        <header>
            <a href="/"> <img class="logo" src="/images/logo.png"> </a>
            <nav role="navigation">
                <button role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" height="3rem" viewBox="0 0 24 24" width="3rem" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
                    <p>Menu</p>
                </button>
                <ul class="desktop">
                    <li><a href="/nos-activites">Nos Activités</a></li>
                    <li><a href="/reservations">Reservations</a></li>
                    <li><a href="/notre-equipe">Notre équipe</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <div class="mobile-menu-content hidden">
            <ul class="desktop">
                <li><a href="/nos-activites">Nos Activités</a></li>
                <li><a href="/reservations">Reservations</a></li>
                <li><a href="/notre-equipe">Notre équipe</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="main-content">
            {{{body}}}
        </div>
        <footer>
            <div class="footer-item">
                <h2>Nos Partenaires</h2>
                <ul>
                    <li><a href="https://www.adec.corsica/"><img src="/images/partners/adec.webp"></a></li>
                    <li><a href="https://www.isula.corsica/"><img src="/images/partners/ctc.webp"></a></li>
                    <li><a href="https://www.efvoile.fr/"><img src="/images/partners/efv.webp"></a></li>
                    <li><a href="https://www.ffck.org/"><img src="/images/partners/ffck.webp"></a></li>
                    <li><a href="https://www.e.leclerc/"><img src="/images/partners/leclerc.webp"></a></li>
                    <li><a href="https://iflyer.corsica/ligue-corse-de-voile.fr.html"><img src="/images/partners/ligue-corse-voile.webp"></a></li>
                    <li><a href="https://mairie-ilerousse.fr/"><img src="/images/partners/mairie-ile-rousse.webp"></a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>
