<div class="container">
    <diV class="centered">
        <hgroup>
            <h1>Nos Activités Nautiques</h1>
            <p>Le club nautique d'ïle-rousse vous propose divers activités pour les petits et grands.</p>
        </hgroup>
        <hr />
    </diV>

    <!-- STAGES -->
    <div class="centered">
        <hgroup>
            <h2>Les Stages Ecole Française de Voile</h2>
            <p>Cours collectifs et cours particuliers en Optimist, Catamaran, Planche à voile, Wind foil et Wing foil.<br/>Pendant les vacances scolaires, les cours collectifs sont ouverts du lundi au samedi, et tout les mercredi et samedi après midi pendant le temps scolaire les cours particuliers sont organisés sur rendez-vous</p>
        </hgroup>
        <div class="grid-container grid-container-3">
            <div class="editorial-card">
                <hgroup>
                    <h3>Catamaran Hobie-Cat 15</h3>
                    <p>à partir de 14 ans</p>
                </hgroup>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/images/hobbie-cat-15/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/hobbie-cat-15/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <table>
                        <thead>
                            <tr><th colspan="3">Cours collectifs</th></tr>
                            <tr><th colspan="3">du <u>lundi au samedi</u> de <u>10h00 à 11h30</u></th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1 Cour</td>
                                <td>3 Cours</td>
                                <td>6 Cours</td>
                            </tr>
                            <tr>
                                <td>60€ / personne</td>
                                <td>160€ / personne</td>
                                <td>280€ / personne</td>
                            </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                            <tr><th colspan="3">Cours Particulier du <u>lundi au samedi</u> sur <u>RDV</u></th></tr>
                            <tr><th colspan="3">(deuxième persone +20€ par heure)</th></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1h</td>
                                <td>2h</td>
                                <td>3h</td>
                            </tr>
                            <tr>
                                <td>60€ / personne</td>
                                <td>105€ / personne</td>
                                <td>200€ / personne</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button">Réserver</button>
                </div>
            </div>

            <div class="editorial-card">
                <hgroup>
                    <h3>Planche à voile</h3>
                    <p>à partir de 10 ans</p>
                </hgroup>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/images/planche-a-voile/1.jpeg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/planche-a-voile/2.jpg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <table>
                        <thead>
                            <tr><th colspan="3">Cours collectifs</th></tr>
                            <tr><th colspan="3">du <u>lundi au samedi</u> de <u>10h00 à 11h30</u></th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1 Cour</td>
                            <td>3 Cours</td>
                            <td>6 Cours</td>
                        </tr>
                        <tr>
                            <td>45€ / personne</td>
                            <td>120€ / personne</td>
                            <td>220€ / personne</td>
                        </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                        <tr><th colspan="3">Cours Particulier du <u>lundi au samedi</u> sur <u>RDV</u></th></tr>
                        <tr><th colspan="3">(deuxième persone +20€ par heure)</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1h</td>
                            <td>2h</td>
                            <td>3h</td>
                        </tr>
                        <tr>
                            <td>60€ / personne</td>
                            <td>105€ / personne</td>
                            <td>200€ / personne</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button">Réserver</button>
                </div>
            </div>
            <div class="editorial-card">
                <hgroup>
                    <h3>Catamaran New-Cat 12 / Funboat</h3>
                    <p>de 10 à 14 ans</p>
                </hgroup>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/images/new-cat-12/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/new-cat-12/2.jpg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <table>
                        <thead>
                            <tr><th colspan="3">Cours collectifs</th></tr>
                            <tr><th colspan="3">du <u>lundi au samedi</u> de <u>09h45 à 11h15</u> et de <u>16h15 à 17h45</u></th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1 Cour</td>
                            <td>3 Cours</td>
                            <td>6 Cours</td>
                        </tr>
                        <tr>
                            <td>45€ / personne</td>
                            <td>120€ / personne</td>
                            <td>220€ / personne</td>
                        </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                        <tr><th colspan="3">Cours Particulier du <u>lundi au samedi</u> sur <u>RDV</u></th></tr>
                        <tr><th colspan="3">(deuxième persone +20€ par heure)</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1h</td>
                            <td>2h</td>
                            <td>3h</td>
                        </tr>
                        <tr>
                            <td>60€ / personne</td>
                            <td>105€ / personne</td>
                            <td>200€ / personne</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button">Réserver</button>
                </div>
            </div>
            <div class="editorial-card">
                <hgroup>
                    <h3>Optimist</h3>
                    <p>de 7 à 11 ans</p>
                </hgroup>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/images/optimist/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/optimist/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <table>
                        <thead>
                            <tr><th colspan="3">Cours collectifs</th></tr>
                            <tr><th colspan="3">du <u>lundi au samedi</u> de <u>10h30 à 12h00</u> et de <u>16h30 à 18h00</u></th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1 Cour</td>
                            <td>3 Cours</td>
                            <td>6 Cours</td>
                        </tr>
                        <tr>
                            <td>45€ / personne</td>
                            <td>115€ / personne</td>
                            <td>200€ / personne</td>
                        </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                        <tr><th colspan="3">Cours Particulier du <u>lundi au samedi</u> sur <u>RDV</u></th></tr>
                        <tr><th colspan="3">(deuxième persone +20€ par heure)</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1h</td>
                            <td>2h</td>
                            <td>3h</td>
                        </tr>
                        <tr>
                            <td>60€ / personne</td>
                            <td>105€ / personne</td>
                            <td>200€ / personne</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button">Réserver</button>
                </div>
            </div>
            <div class="editorial-card">
                <hgroup>
                    <h3>Club Pirate</h3>
                    <p>de 5 à 7 ans</p>
                </hgroup>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/images/optimist/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/optimist/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <table>
                        <thead>
                            <tr><th colspan="3">Cours collectifs</th></tr>
                            <tr><th colspan="3">du <u>lundi au samedi</u> de <u>09h00 à 10h00</u></th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1 Cour</td>
                            <td>3 Cours</td>
                            <td>6 Cours</td>
                        </tr>
                        <tr>
                            <td>35€ / personne</td>
                            <td>100€ / personne</td>
                            <td>180€ / personne</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button">Réserver</button>
                </div>
            </div>
            <div class="editorial-card">
                <hgroup>
                    <h3>Wing Foil</h3>
                    <p>à partir de 12 ans</p>
                </hgroup>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/images/wing-foil/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/wing-foil/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <table>
                        <thead>
                        <tr><th colspan="3">Cours Particulier du <u>lundi au samedi</u> sur <u>RDV</u></th></tr>
                        <tr><th colspan="3">(deuxième persone +20€ par heure)</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1h</td>
                            <td>2h</td>
                            <td>3h</td>
                        </tr>
                        <tr>
                            <td>120€ / personne</td>
                            <td>220€ / personne</td>
                            <td>400€ / personne</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button">Réserver</button>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <!-- LOCATIONS -->
    <div class="centered">
        <hgroup class="centered">
            <h2>Locations supports Nautiques</h2>
            <p>Catamarans, Windsurf, Wing foil, Wind foil, Kayaks et Stand Up Paddle. Locations sous supervision sauf pour les kayaks et Stand UP Paddle Tous les jours de 9 h à 18 heures (il est préférable de réserver)</p>
        </hgroup>
        <div class="grid-container grid-container-3">
            <div class="editorial-card">
                <hgroup>
                    <h3>Location Kayak</h3>
                    <p>Nos kayaks sont auto-videurs et très faciles d’accès</p>
                </hgroup>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img loading="lazy" src="/images/kayak/1.jpeg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/kayak/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <ul>
                        <li>4 kayaks monoplaces 14€ pour une 1 heure</li>
                        <li>12 kayaks doubles ( 2 adultes + 1 enfant), 20€ pour une heure</li>
                    </ul>
                    <button type="button">Réserver</button>
                </div>
            </div>
            <div class="editorial-card">
                <hgroup>
                    <h3>Location Stand Up Paddle</h3>
                    <p>Le Stand Up Paddle est le support tendance entre surf et kayak</p>
                </hgroup>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img loading="lazy" src="/images/kayak/1.jpeg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/kayak/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <ul>
                        <li>6 SUP rigides ou gonflables, 15€ pour une heure </li>
                    </ul>
                    <button type="button">Réserver</button>
                </div>
            </div>
            <div class="editorial-card">
                <hgroup>
                    <h3>Location Fun-boat</h3>
                    <p>Le funboat vous séduira par sa facilité d'utilisation et son contrôle dans le vent soutenu. 8 funboat, 3 personnes max (selon gabarit)</p>
                </hgroup>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img loading="lazy" src="/images/fun-boat/1.jpeg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/fun-boat/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <ul>
                        <li>30€ pour une heure Location sur plan d'eau surveillé</li>
                    </ul>
                    <button type="button">Réserver</button>
                </div>
            </div>
            <div class="editorial-card">
                <hgroup>
                    <h3>Location Catamaran Hobbie-cat</h3>
                    <p>5 Catamarans Hobie-cat. 15 Jusqu'à 4 personnes en fonction des conditions de navigation et du gabarit de l'équipage.</p>
                </hgroup>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img loading="lazy" src="/images/hobbie-cat-15/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/hobbie-cat-15/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <ul>
                        <li>50 € pour une heure Location sur plan d'eau surveillé</li>
                    </ul>
                    <button type="button">Réserver</button>
                </div>
            </div>
            <div class="editorial-card">
                <hgroup>
                    <h3>Location Planche à voile, Funboard & Wind foil</h3>
                    <p>Location sur plan d'eau surveillé</p>
                </hgroup>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img loading="lazy" src="/images/planche-a-voile/1.jpeg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/planche-a-voile/2.jpg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <ul>
                        <li>Planches débutant : 20€ pour une heure</li>
                        <li>Funboard : 30€ pour une heure</li>
                        <li>Wind Foil : 50€ pour une heure</li>
                    </ul>
                    <button type="button">Réserver</button>
                </div>
            </div>
            <div class="editorial-card">
                <hgroup>
                    <h3>Location Wing foil</h3>
                    <p>Location sur plan d'eau surveillé</p>
                </hgroup>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img loading="lazy" src="/images/wing-foil/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/wing-foil/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <ul>
                        <li>50€ pour une heure</li>
                    </ul>
                    <button type="button">Réserver</button>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <!-- HABITABLE -->
    <div class="centered">
        <hgroup class="centered">
            <h2>Voile Habitable</h2>
            <p>Découvrez ou perfectionnez vous à la navigation en voilier habitable.</p>
        </hgroup>
        <div class="flex-container fle-container-vertical">
            <div class="swiper no-auto-play">
                <div class="swiper-wrapper">
                    {{#times 9}}
                        <div class="swiper-slide"><img loading="lazy" src="/images/habitable/{{this}}.webp"></div>
                    {{/times}}
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <hgroup>
                <h3>Embarquez avec nous</h3>
            </hgroup>
            <p>La pédagogie FFVvoile vous permettra d’apprendre à votre rythme et quelque soit votre niveau.</p>
            <p>Vivez des moments inoubliables, seul en famille ou entre amis au coeur de la Balagne, du désert des Agriates à la baie de Calvi.</p>
            <p>Votre moniteur diplômé vous accueille à bord et vous supervise  à distance dans une ambiance chaleureuse et instructive.</p>
            <div class="list">
                <table>
                    <thead><tr><th colspan="2">Découverte ou perfectionnement</th></tr></thead>
                    <tbody>
                    <tr>
                        <td>1/2 Journée</td>
                        <td>Journée</td>
                    </tr>
                    <tr>
                        <td>60€ - 12ans</td>
                        <td>90€ - 12ans</td>
                    </tr>
                    <tr>
                        <td>80€ + 12ans</td>
                        <td>120€ + 12ans</td>
                    </tr>
                    </tbody>
                </table>
                <button type="button">Réserver</button>
                <table>
                    <thead>
                        <tr><th colspan="2">Sortie Privative</th></tr>
                        <tr><th colspan="2">Composez votre programme avec l’aide de votre skipper. (9 places)</th></tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1/2 Journée</td>
                        <td>Journée</td>
                    </tr>
                    <tr>
                        <td>450€</td>
                        <td>800€</td>
                    </tr>
                    </tbody>
                </table>
                <button type="button">Réserver</button>
                <table>
                    <thead>
                        <tr><th colspan="1">Coucher de soleil</th></tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Sortie Privative (2h)</td>
                    </tr>
                    <tr>
                        <td>350€ le bateau</td>
                    </tr>
                    <tr>
                        <td>ou 50€ / personne</td>
                    </tr>
                    </tbody>
                </table>
                <button type="button">Réserver</button>
            </div>
        </div>
    </div>
    <hr />

    <!-- AUTRES ACTIVITÉS -->
    <div class="centered">
        <hgroup class="centered">
            <h2>Nos Autres Activités</h2>
        </hgroup>
        <div class="grid-container grid-container-3">
            <div class="editorial-card">
                <hgroup>
                    <h2>La Voile à l'école</h2>
                </hgroup>
                <img src="/images/optimist/1.jpg">
                <p>Le club Nautique d'Ile Rousse accueille les publics scolaires du printemps à l'automne</p>
                <p>En particulier les classes primaires du bassin d'Ile Rousse, ainsi que les collégiens et les lycéens d'Ile Rousse.</p>
                <p>Le club reçoit plus de 20 classes par semaine, depuis plus de 20 ans, et a développé une expertise dans l'accueil de ces publics.</p>
            </div>
            <div class="editorial-card">
                <hgroup>
                    <h2>Formation CQP</h2>
                </hgroup>
                <img src="/images/optimist/1.jpg">
                <p>Le club propose une formation CQP Initiateur Voile à ses membres les plus experts. Les pré requis sont un niveau de pratique FFVoile 4 certifié sur un ou plusieurs supports et un permis bateau.</p>
            </div>
            <div class="editorial-card">
                <hgroup>
                    <h2>Certification Niveau 4 FFVOILE</h2>
                </hgroup>
                <img src="/images/optimist/1.jpg">
                <p>Le Club inscrit chaque année des certifications de niveau de pratique  4 FFVoile, au calendrier des formations fédérales. Il s'agit d'une évaluation pouvant donner lieu à une certification et non d'un enseignement.</p>
                <p>Le club est habilité à délivrer des certifications de niveau de pratique en catamaran, planche à voile et voile habitable.</p>
                <p>L'examen comprend au choix :</p>
                <ul>
                    <li><p>SI le support le permet, un parcours côtier de 24h, après présentation d'un plan de navigation en rapport avec les exigences de sécurité et de conformité réglementaire, et les conditions météo attendue</p></li>
                    <li><p>OU un parcours sportif où seront évaluées les compétences aux différents postes si le support est double ou collectif</p></li>
                </ul>
                <p>La certification est complétée par un questionnaire sur les fondamentaux du support, la réglementation et la sécurité.</p>
                <p>Prix à partir de 200€ pour le format côtier, 60 € pour le parcours sportif, gratuit pour les aides moniteurs du club.</p>
            </div>
        </div>
    </div>

</div>
