<div class="full-width-container">
    <div class="swiper auto-play">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/slider-heading/1.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/2.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/3.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/4.jpg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/5.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/6.jpg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/7.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/8.jpg"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="container">
    <hgroup class="centered">
        <h1>Nos Activités Nautiques</h1>
        <p>Le club nautique d'ïle-rousse vous propose divers activités pour les petits et grands.</p>
    </hgroup>
    <hr />

    <hgroup class="centered">
        <h2>Les Stages Ecole Française de Voile</h2>
        <p>Cours collectifs et cours particuliers en Optimist, Catamaran, Planche à voile, Wind foil et Wing foil.<br/>Pendant les vacances scolaires, les cours collectifs sont ouverts du lundi au samedi, et tout les mercredi et samedi après midi pendant le temps scolaire les cours particuliers sont organisés sur rendez-vous</p>
        <div class="grid-container grid-container-2">
            <div class="editorial-card">
                <h3>Cours de Catamaran Hobie-cat 15, pour les ados et les adultes</h3>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/images/hobbie-cat-15/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/hobbie-cat-15/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <p>Cours collectifs : de 10h00 à 11h30 du lundi au samedi</p>
                    <ul>
                        <li>A la carte 45€, stage 3jours 120€, 6 jours 220€</li>
                        <li>Cours collectifs privatisés, 4 personnes minimum, à partir de 200€ pour 2 heures</li>
                        <li>Cours particuliers : 60€ 1 personnes, 80€ 2 personnes, durée 1heure</li>
                    </ul>
                </div>
            </div>
            <div class="editorial-card">
                <h3>Planche à voile , à partir de 10 ans</h3>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/images/planche-a-voile/1.jpeg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/planche-a-voile/2.jpg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <p>Cours collectifs : de 10h00 à 11h30 du lundi au samedi</p>
                    <ul>
                        <li>A la carte 45€, stage 3jours 120€, 6 jours 220€</li>
                        <li>Cours collectifs privatisés, 4 personnes minimum, à partir de 200€ pour 2 heures</li>
                        <li>Cours particuliers : 60€ 1 personnes, 80€ 2 personnes, durée 1heure</li>
                    </ul>
                </div>
            </div>
            <div class="editorial-card">
                <h3>Cours de Catamaran New Cat 12 ou Funboat pour les pré-ados</h3>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/images/new-cat-12/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/new-cat-12/2.jpg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <p>Cours collectifs : de 09h45 à 11h15 et de 16h15 à 17h45 du lundi au samedi</p>
                    <ul>
                        <li>A la carte 45€, stage 3jours 120€, 6 jours 220€</li>
                    </ul>
                </div>
            </div>
            <div class="editorial-card">
                <h3>Cours d'Optimist, de 7 à 10 ans</h3>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/images/optimist/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/optimist/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <p>Cours collectifs : de 10h30 à 12h00 et de 16h30 à 18h00 du lundi au samedi</p>
                    <ul>
                        <li>A la carte 40€, stage 3jours 115€, 6 jours 200€</li>
                        <li>Cours particuliers : 60€ 1 personnes, 80€ 2 personnes, durée 1heure</li>
                    </ul>
                </div>
            </div>
            <div class="editorial-card">
                <h3>Club Pirate, de 5 à 8 ans</h3>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/images/optimist/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/optimist/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <p>Cours collectifs : de 09h00 à 10h00 du lundi au samedi</p>
                    <ul>
                        <li>A la carte 35€, stage 3jours 100€, 6 jours 180€</li>
                        <li>Cours particuliers : 60€ 1 personnes, 80€ 2 personnes, durée 1heure</li>
                    </ul>
                </div>
            </div>
            <div class="editorial-card">
                <h3>Wing Foil</h3>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/images/wing-foil/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/wing-foil/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <p>Cours collectifs : sur RDV du lundi au samedi</p>
                    <ul>
                        <li>A la carte 70€, stage 3jours 200€, 6 jours 350€, durée 1h30</li>
                        <li>Cours particuliers : 120€ 1 personnes, 140€ 2 personnes, durée 1heure</li>
                    </ul>
                </div>
            </div>
        </div>
    </hgroup>
    <hr />

    <hgroup class="centered">
        <h2>Locations supports Nautiques</h2>
        <p>Catamarans, Windsurf, Wing foil, Wind foil, Kayaks et Stand Up Paddle. Locations sous supervision sauf pour les kayaks et Stand UP Paddle Tous les jours de 9 h à 18 heures (il est préférable de réserver)</p>
        <div class="grid-container grid-container-2">
            <div class="editorial-card">
                <h3>Location Kayak</h3>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img loading="lazy" src="/images/kayak/1.jpeg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/kayak/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <p>Nos kayaks sont auto-videurs et très faciles d’accès</p>
                    <ul>
                        <li>4 kayaks monoplaces 14€ pour une 1 heure</li>
                        <li>12 kayaks doubles ( 2 adultes + 1 enfant), 20€ pour une heure</li>
                    </ul>
                </div>
            </div>
            <div class="editorial-card">
                <h3>Location Stand Up Paddle</h3>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img loading="lazy" src="/images/kayak/1.jpeg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/kayak/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <p>Le Stand Up Paddle  est le support tendance entre surf et kayak</p>
                    <ul>
                        <li>6 SUP rigides ou gonflables, 15€ pour une heure </li>
                    </ul>
                </div>
            </div>
            <div class="editorial-card">
                <h3>Location Fun-boat</h3>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img loading="lazy" src="/images/fun-boat/1.jpeg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/fun-boat/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <p>Le funboat vous séduira par sa facilité d'utilisation et son contrôle dans le vent soutenu. 8 funboat, 3 personnes max (selon gabarit)</p>
                    <ul>
                        <li>30€ pour une heure Location sur plan d'eau surveillé</li>
                    </ul>
                </div>
            </div>
            <div class="editorial-card">
                <h3>Location Catamaran Hobbie-cat</h3>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img loading="lazy" src="/images/hobbie-cat-15/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/hobbie-cat-15/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <p>5 Catamarans Hobie-cat. 15 Jusqu'à 4 personnes en fonction des conditions de navigation et du gabarit de l'équipage.</p>
                    <ul>
                        <li>50 € pour une heure Location sur plan d'eau surveillé</li>
                    </ul>
                </div>
            </div>
            <div class="editorial-card">
                <h3>Location Planche à voile, Funboard & Wind foil</h3>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img loading="lazy" src="/images/planche-a-voile/1.jpeg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/planche-a-voile/2.jpg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <p>Location sur plan d'eau surveillé</p>
                    <ul>
                        <li>Planches débutant : 20€ pour une heure</li>
                        <li>Funboard : 30€ pour une heure</li>
                        <li>Wind Foil : 50€ pour une heure</li>
                    </ul>
                </div>
            </div>
            <div class="editorial-card">
                <h3>Location Wing foil</h3>
                <div class="swiper no-auto-play">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img loading="lazy" src="/images/wing-foil/1.jpg"></div>
                        <div class="swiper-slide"><img loading="lazy" src="/images/wing-foil/2.jpeg"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="list">
                    <p>Location sur plan d'eau surveillé</p>
                    <ul>
                        <li>50€ pour une heure</li>
                    </ul>
                </div>
            </div>
        </div>
    </hgroup>
    <hr />

    <hgroup class="centered">
        <h2>Voile Habitable</h2>
        <p>Découverte du littoral, formation sur voilier habitable</p>
    </hgroup>
    <hr />

    <hgroup class="centered">
        <h2>Nos Autres Activités</h2>
        <div class="grid-container grid-container-3">
            <div class="editorial-card">
                <h2>La Voile à l'école</h2>
                <img src="/images/optimist/1.jpg">
                <p>Le club Nautique d'Ile Rousse accueille les publics scolaires du printemps à l'automne</p>
                <p>En particulier les classes primaires du bassin d'Ile Rousse, ainsi que les collégiens et les lycéens d'Ile Rousse.</p>
                <p>Le club reçoit plus de 20 classes par semaine, depuis plus de 20 ans, et a développé une expertise dans l'accueil de ces publics.</p>
            </div>
            <div class="editorial-card">
                <h2>Formation CQP</h2>
                <img src="/images/optimist/1.jpg">
                <p>Le club propose une formation CQP Initiateur Voile à ses membres les plus experts. Les pré requis sont un niveau de pratique FFVoile 4 certifié sur un ou plusieurs supports et un permis bateau.</p>
            </div>
            <div class="editorial-card">
                <h2>Certification Niveau 4 FFVOILE</h2>
                <img src="/images/optimist/1.jpg">
                <p>Le Club inscrit chaque année des certifications de niveau de pratique  4 FFVoile, au calendrier des formations fédérales. Il s'agit d'une évaluation pouvant donner lieu à une certification et non d'un enseignement.</p>
                <p>Le club est habilité à délivrer des certifications de niveau de pratique en catamaran, planche à voile et voile habitable.</p>
                <p>L'examen comprend au choix :</p>
                <ul>
                    <li><p>SI le support le permet, un parcours côtier de 24h, après présentation d'un plan de navigation en rapport avec les exigences de sécurité et de conformité réglementaire, et les conditions météo attendue</p></li>
                    <li><p>OU un parcours sportif où seront évaluées les compétences aux différents postes si le support est double ou collectif</p></li>
                </ul>
                <p>La certification est complétée par un questionnaire sur les fondamentaux du support, la réglementation et la sécurité.</p>
                <p>Prix à partir de 200€ pour le format côtier, 60 € pour le parcours sportif, gratuit pour les aides moniteurs du club.</p>
            </div>
        </div>
    </hgroup>

</div>
