<div class="full-width-container">
    <div class="swiper auto-play">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/slider-heading/1.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/2.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/3.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/4.jpg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/5.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/6.jpg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/7.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/8.jpg"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="container">
    <hgroup class="centered">
        <h1>Nous contacter</h1>
    </hgroup>
    <hr />

    <hgroup class="centered">
        <p>Club Nautique d'Ile-Rousse. <br> Plage de la gare / Route du port / 20220 L'Ile-rousse</p>
        <p>Teléphone: <a href="tel:0033495602255">04.95.60.22.55</a></p>
        <p>Mail: <a href="mailto:cnilerousse@gmail.com">cnilerousse@gmail.com</a></p>
    </hgroup>
    <hr />

</div>
