<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
({key: "AIzaSyC4lCjvSLU4UqXA-CgFdWPoRNqKE69nOQI", v: "beta"});</script>

<div class="container">
    <hgroup class="centered">
        <h1>Nous contacter</h1>
    </hgroup>
    <hr />

    <hgroup class="centered">
        <p>Club Nautique d'Ile-Rousse. <br> Plage de la gare / Route du port / 20220 L'Ile-rousse</p>
        <p>Teléphone: <a href="tel:0033495602255">04.95.60.22.55</a></p>
        <p>Mail: <a href="mailto:cnilerousse@gmail.com">cnilerousse@gmail.com</a></p>
    </hgroup>
    <hr />

</div>

<div class="full-width-container">
    <div id="map"></div>
</div>
