<div class="full-width-container">
    <div class="swiper auto-play">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/slider-heading/1.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/2.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/3.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/4.jpg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/5.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/6.jpg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/7.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/8.jpg"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="container">
    coucou
</div>
