<div class="full-width-container">
    <div class="swiper auto-play">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/slider-heading/1.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/2.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/3.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/4.jpg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/5.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/6.jpg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/7.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/8.jpg"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="container">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v17.0" nonce="MeHHc3AV"></script>
    <hgroup class="centered">
        <h1>Les actualités du Club</h1>
        <div class="fb-page" data-href="https://www.facebook.com/cnilerousse" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/cnilerousse" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/cnilerousse">Club nautique d&#039;ile rousse</a></blockquote></div>
    </hgroup>
    <hr />
</div>
