<div class="full-width-container">
    <div class="swiper auto-play">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/slider-heading/1.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/2.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/3.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/4.jpg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/5.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/6.jpg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/7.jpeg"></div>
            <div class="swiper-slide"><img loading="lazy" src="/images/slider-heading/8.jpg"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="container">
    <hgroup class="centered">
        <h1>Nos Autres Activités</h1>
        <div class="grid-container">
            <div class="editorial-card">
                <h2>La Voile à l'école</h2>
                <img src="/images/optimist/1.jpg">
                <p>Le club Nautique d'Ile Rousse accueille les publics scolaires du printemps à l'automne</p>
                <p>En particulier les classes primaires du bassin d'Ile Rousse, ainsi que les collégiens et les lycéens d'Ile Rousse.</p>
                <p>Le club reçoit plus de 20 classes par semaine, depuis plus de 20 ans, et a développé une expertise dans l'accueil de ces publics.</p>
            </div>
            <div class="editorial-card">
                <h2>Formation CQP</h2>
                <img src="/images/optimist/1.jpg">
                <p>Le club propose une formation CQP Initiateur Voile à ses membres les plus experts. Les pré requis sont un niveau de pratique FFVoile 4 certifié sur un ou plusieurs supports et un permis bateau.</p>
            </div>
            <div class="editorial-card">
                <h2>Certification Niveau 4 FFVOILE</h2>
                <img src="/images/optimist/1.jpg">
                <p>Le Club inscrit chaque année des certifications de niveau de pratique  4 FFVoile, au calendrier des formations fédérales. Il s'agit d'une évaluation pouvant donner lieu à une certification et non d'un enseignement.</p>
                <p>Le club est habilité à délivrer des certifications de niveau de pratique en catamaran, planche à voile et voile habitable.</p>
                <p>L'examen comprend au choix :</p>
                <ul>
                    <li><p>SI le support le permet, un parcours côtier de 24h, après présentation d'un plan de navigation en rapport avec les exigences de sécurité et de conformité réglementaire, et les conditions météo attendue</p></li>
                    <li><p>OU un parcours sportif où seront évaluées les compétences aux différents postes si le support est double ou collectif</p></li>
                </ul>
                <p>La certification est complétée par un questionnaire sur les fondamentaux du support, la réglementation et la sécurité.</p>
                <p>Prix à partir de 200€ pour le format côtier, 60 € pour le parcours sportif, gratuit pour les aides moniteurs du club.</p>
            </div>
        </div>
    </hgroup>

</div>
