header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 { text-align: center; }

    nav {
        width: 100%;
        background-color: $regular-blue;
        border: 1px solid #0000001a;
        box-shadow: 0px -3px 5px 0px #00000047;

        > ul {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            column-gap: 2rem;

            a { color: white; }
        }
    }
}
