.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 1fr;

    &.no-auto-row {
        grid-auto-rows:unset;
    }

    .swiper {
        width: 100%;
    }
}

.grid-container-2 {
    @media screen and (min-width: 951px) {
        grid-template-columns: 50% 50%;
    }
}

.grid-container-3 {
    @media screen and (min-width: 1135px) {
        grid-template-columns: 50% 50%;
    }
    @media screen and (min-width: 1750px) {
        grid-template-columns: 33% 33% 33%;
    }
}

.grid-container-4 {
    @media screen and (min-width: 951px) {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
