@import "variables";
@import "reset";

@import "navigations/header";
@import "navigations/footer";

div.main-content-wrapper {
    height: inherit;

    #map {
        width: 100%;
        height: 50vh;

    }

    div.mobile-menu-content {
        background-color: white;
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 2;
        transition: left 1s;
        left: 0;

        &.hidden { left: calc(100vw); }
        @media screen and (max-width: 650px) {
            display: flex;
        }
        @media screen and (min-width: 651px) {
            display: none;
        }

        ul {
            li {
                list-style-type: '>';

                &::marker {
                    margin-right: 1rem;
                    font-size: 1.8rem;
                }

                a {
                    margin-left: 2rem;
                    color: $text-color;
                    font-size: 2rem;
                    line-height: 5rem;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }

    div.main-content {
        height: auto;

        div.full-width-container { width: 100%; }
        div.container {
            width: 95%;

            @media screen and (min-width: 951px) {
                width: 75%;
            }

            margin: auto;
        }

        *.centered { text-align: center; }

        hr {
            width: 80%;
            margin-top: 2rem;
            margin-bottom: 2rem;
            border: 1px solid #0000002e;
        }

        @import "grid";
        @import "flex";

        .button-group {
            display: flex;
            gap: 1rem;
            transition: opacity .5s;

            &.hidden { opacity: 0; }
        }

        button,input[type=button] {
            width: 30%;
            margin: 2rem auto 2rem auto;
            background-color: $regular-blue;
            border: 1px solid grey;
            border-radius: 15px;
            color: white;
            padding: 0.3rem;
            cursor: pointer;

            &:hover {
                background-color: $lighter-blue;
            }

            &:disabled,&.disabled {
                background-color: $text-color;
                opacity: .6;
            }
        }

        @mixin table-with-button {
            .list {
                text-align: left;
                width: 60%;

                @media screen and (max-width: 900px) {
                    width: 100%;
                }

                margin: auto;
                display: flex;
                flex-direction: column;
                border-radius: 0 0 8px 8px;
                flex: 2;
                padding: 1rem 1rem 0 1rem;

                table {
                    text-align: center;
                    margin-top: 1rem;

                    @media screen and (max-width: 650px) {
                        display: flex;
                        flex-direction: column;

                        tr {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                        }
                    }

                    tbody {
                        background-color: $text-color;
                        color: white;

                        &::before {
                            content:"@";
                            display:block;
                            line-height:.8rem;
                            text-indent:-99999px;
                            background-color: white;
                        }

                        tr.heading {
                            background-color: $regular-blue;
                        }
                    }

                    th, td {
                        padding-top: .5rem;
                        padding-bottom: .5rem;

                        &.heading { padding: 0; font-size: 1.8rem }
                        &.sub-heading { padding: 0; font-size: 1.2rem; color: #717171; }
                    }
                }

                a {
                    width: 30%;
                    margin: 2rem auto 2rem auto;
                    background-color: $regular-blue;
                    border: 1px solid grey;
                    border-radius: 15px;
                    color: white;
                    padding: 0.3rem;
                    cursor: pointer;
                    text-align: center;
                }

                ul {
                    flex: 2;
                    li { list-style: circle; }
                }
            }
        }

        @include table-with-button;

        .editorial-card {
            padding: 1rem;
            display: flex;
            flex-direction: column;

            hgroup {
                background-color: $regular-blue;
                border-radius: 8px 8px 0 0;
                padding: 0.5rem;

                h2,h3 { margin: 0; line-height: 3.5rem; color: white; }
                p { color: white; margin: 0 0 .3rem; }
            }

            .swiper {
                height: 12rem;
                width: 100%;
            }

            @include table-with-button;

            .list {
                margin: 0;
                width: auto;
            }

            img {
                display: block;
                height: 20rem;
                width: 100%;
                object-fit: cover;
            }
        }

        @import "components/swiper";
    }
}
